/* ==========================================================================
 function css
 ========================================================================== */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-pa{position:absolute;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}

.f-t3{top:3px;}
.f-t4{top:4px;}
.f-t5{ top:5px; }
.f-t10{top:10px;}
.f-l3{left:3px;}
.f-l4{left:4px;}
.f-l5{left:5px;}
.f-l10{left:10px;}

.f-mg0{margin:0}
.f-mg5{margin:5px}
.f-mg10{margin:10px}
.f-mg15{margin:15px}
.f-mg20{margin:20px}
.f-mr0{margin-right: 0;}
.f-mr3{margin-right: 3px;}
.f-mr5{margin-right: 5px;}
.f-mr10{margin-right: 10px;}
.f-mr15{margin-right: 15px;}
.f-mr20{margin-right: 20px;}
.f-mr50{margin-right: 50px;}
.f-ml3{margin-left: 3px;}
.f-ml5{margin-left: 5px;}
.f-ml10{margin-left: 10px;}
.f-ml15{margin-left: 15px;}
.f-ml20{margin-left: 20px;}
.f-ml50{margin-left: 50px;}
.f-ml100{margin-left: 100px;}
.f-ml200{margin-left: 200px;}
.f-mt0{margin-top: 0;}
.f-mt2{margin-top: 2px;}
.f-mt3{margin-top: 3px;}
.f-mt4{margin-top: 4px;}
.f-mt5{margin-top: 5px;}
.f-mt10{margin-top: 10px;}
.f-mt15{margin-top: 15px;}
.f-mt20{margin-top: 20px;}
.f-mb5{margin-bottom: 5px;}
.f-mb10{margin-bottom: 10px;}
.f-mb20{margin-bottom: 20px;}
.f-mb30{margin-bottom: 30px;}

.f-red{color:red;}

.f-center{margin-left: auto; margin-right:auto;}