/****** 主菜单 ******/
.home-ns .main-menu {
    position: relative;
    top:24px;
    right:30px;
    float: right;
    font-size: 14px;
    color:white;
    font-weight:600;
}

.home-ns .main-menu li {
    position: relative;
    float: left;
    display: block;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.main-menu ul{
    padding:0;
    margin:0;
}

.main-menu .menu-icon {
    position: relative;
    width:108px;
    background-repeat:no-repeat;
    left: 0;
    top:15px;
    height: 42px;
    z-index: 2;
}
.main-menu .menu-text {
    position: relative;
    top: -12px;
    left: 20px;
    text-align: center;
    font-size: 1em;
    z-index: 3;
}

.main-menu a:link, #mainmenu a:visited {
    color: #3366CC;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: none;
}

.main-menu a:active {
}

.main-menu .selected-menu {
    color: red;
}

/****** 二级菜单 ******/
.home-ns .sub-menu{
    position: relative;
    left: 0; top:0;
    height:28px; width: 100%;
    background: none;
    box-shadow: 1px 0 0 0 rgba(255,255,255,0.25) inset,0 1px 0 0 rgba(255,255,255,0.3) inset,0 -1px 0 0 rgba(255,255,255,0.2) inset,-1px 0 0 0 rgba(255,255,255,0.25) inset;
    -moz-box-shadow: 1px 0 0 0 rgba(255,255,255,0.25) inset,0 1px 0 0 rgba(255,255,255,0.3) inset,0 -1px 0 0 rgba(255,255,255,0.2) inset,-1px 0 0 0 rgba(255,255,255,0.25) inset;
    -webkit-box-shadow: 1px 0 0 0 rgba(255,255,255,0.25) inset,0 1px 0 0 rgba(255,255,255,0.3) inset,0 -1px 0 0 rgba(255,255,255,0.2) inset,-1px 0 0 0 rgba(255,255,255,0.25) inset;
    border-bottom: 2px solid #275e91;
    z-index: 102;
}

.sub-menu ul {
    margin: 0 0 0 2px;
    padding: 0;
}

.sub-menu li {
    float: left;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

.sub-menu .tabs-small {
    position: relative;
    top: 10px;
    width: 140px;
    height: 26px;
    line-height: 28px;
    font-size: 12px;
    font-weight: normal;
    background-image: url(../../img/menu/buttons.png);
}

.tabs-icon {
    width:124px;
    height:28px;
    line-height: 28px;
    background: url(../img/menu/center1.png);
    background-repeat:repeat-x;
    background-position:0px 1px;
    color: #000;
}

.tabs-icon-s {
	background:url(../img/menu/buttons.png) -5px -7px no-repeat,url(../img/menu/buttons.png) -100px -76px no-repeat !important;
    color:#fff;
}
.sub-menu .tabs-icon-s:nth-child(1){
	background:url(../img/menu/buttons.png) -5px -7px no-repeat,url(../img/menu/buttons.png) 0px -76px no-repeat !important;
}
.sub-menu .tabs-icon-s:last-child{
	background:url(../img/menu/buttons.png) -5px -7px no-repeat,url(../img/menu/buttons.png) -260px -76px no-repeat !important;
}
.sub-menu .tabs-icon:nth-child(1){
	margin-left:22%;
	background:url(../img/menu/buttons.png) 0px -76px no-repeat;
}
.sub-menu .tabs-icon:last-child{
	background:url(../img/menu/buttons.png) -260px -76px no-repeat;
}
.sub-menu .tabs-icon .tabTxt{
	padding-top:2px;
}
.tabs-icon-s-onlyone {
	background:url(../img/menu/buttons.png) -5px -7px no-repeat !important;
	color: #fff;
	width: 124px;
	height: 28px;
	line-height: 28px;
	margin-left:22%;
}

/***************************** 指定样式，确保修改目录顺序后，菜单样式不会错乱。单独标出是为了将来对平台整体风格就行设置时用到 ***********************/
.main-menu .menu-1 {
    background-image:url("../img/menu/mapview2.png");
}
.main-menu .menu-1-hover {
    background-image:url("../img/menu/mapview2-hover.png");
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
   	-webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0px 1px 6px 2px rgba(180,180,180,0.25);
    -moz-box-shadow: inset 0px 1px 6px 2px rgba(180,180,180,0.25);
    -webkit-box-shadow: inset 0px 1px 6px 2px rgba(180,180,180,0.25);
}
.main-menu .menu-2 {
    background-image:url("../img/menu/mymap2.png");
}
.main-menu .menu-2-hover {
    background-image:url("../img/menu/mymap2-hover.png");
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
   	-webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0px 1px 6px 2px rgba(180,180,180,0.25);
    -moz-box-shadow: inset 0px 1px 6px 2px rgba(180,180,180,0.25);
    -webkit-box-shadow: inset 0px 1px 6px 2px rgba(180,180,180,0.25);
}