/* ==========================================================================
    main styles
   ========================================================================== */
.home-ns{
    /*background: url(img/bg1.jpg) repeat 50% 0; */
    background: #FFFBFB;
    padding:0;
    line-height: 100%;
    overflow-x: hidden;
}
.home-ns .wrapper {
    position: relative;
    width:100%;
    margin: 0 auto;
    padding: 0;
}
.home-ns header{
    width:100%; height: 90px;
    margin: 0 auto; padding: 0;
    cursor:default;
    background-image:url(../img/banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
.caption-img {
    position: absolute;
    top: 30px;
    left:50px;
}
.caption-bg{
	width:100%;
	height:100%;
	border:0px;
	position:absolute;
	z-index:-1;
	background-image:url('../img/caption/banner-left.jpg');
}
.log-img{
	float: left;
	height: 20px;
	width: 20px;
	background: url(../img/small-icons.png);
}
.admin-img{
	margin:0px 0px 0px 3px;
	background-position: -108px -2px;
}
.logout-img{
	background-position: -86px -2px;
}
.left-index{
	width: 18px;
	height: 22px;
	float: left;
	margin:0px 0px 0px 0px;
	background-image: url(../img/left-title.png);
	background-repeat: no-repeat;
}
.right-index{
	width: 18px;
	height: 22px;
	float: left;
	margin:0px 0px 0px 0px;
	background-image: url(../img/right-title.png);
	background-repeat: no-repeat;
}
.index-logout-color{
	text-decoration: none;
	color: #6D6D6D;
}
.index-login {
	position: absolute;
	top: 0;
	right: 45px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	z-index: 10
}

.index-user {
	float: left;
	min-width: 90px;
	color: #6D6D6D;
	height:22px;
	background-image: url(../img/center-title.png);
	background-repeat: repeat;
}
.index-out {
	float: left;
	color: #6D6D6D;
	height:22px;
	background-image: url(../img/center-title.png);
	background-repeat: repeat;
}

.index-username {
	margin:0px 0px 0px 5px;
	color: #6D6D6D;
}

.index-loginout {
	margin:0px 0px 0px 5px;
	float: left;
	color: #6D6D6D;
	cursor: pointer;
	text-decoration: none;
}
.panel-border1{
	border: 1px solid #F1F1F1;
    border: 1px solid rgba(204,204,204, 0.8);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 3px rgba(204,204,204, 0.5);
    -moz-box-shadow: 0 3px 3px rgba(204,204,204, 0.5);
    box-shadow: 0 3px 3px rgba(204,204,204, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.row-fluid [class*="exSpan"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    /* margin-left: 2.127659574468085%;
     *margin-left: 2.074468085106383%;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.home-ns .row-fluid [class*="exSpan"]:first-child {
    margin-left: 0;
}
.home-ns .row-fluid .exSpan3{
    width: 20.404255319148934%;
    *width: 20.351063829787233%;
}
.home-ns .row-fluid .exSpan9{
    width: 79.595744680851055%;
    *width: 77.41489361702126%;
}
.home-ns .row-fluid  .exSpan12{
    width:99.79%;
    margin:0;
    padding:0;
}
.home-ns .main-container{
    position: relative;  left:0; top:0;
    width:100%;  height:600px;
    margin:0; padding:0;
}

.home-ns .left-container{
    position: relative;
    padding:0;
    height:100%;
    border-color: rgba(102,102,102,0.25);
    background: #E7E7E7;
    z-index: 1;
}
.home-ns .left-panel{
    position: relative;
    top: 8px; left: 0;
    width: 90%;
    height:95%;
    margin:0 auto;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fafafa,endColorStr=#dddddd);
    background:-moz-linear-gradient(top,#fafafa,#dddddd);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fafafa), to(#dddddd));
    background:-o-linear-gradient(top, #fafafa, #dddddd);
    background: -ms-linear-gradient(top,#fafafa, #dddddd);
    background: linear-gradient(top,#fafafa, #dddddd);
}
.home-ns .left-navi{
    position: absolute;
    width:99.96%;
    margin:0;
    max-height:99.94%;
    min-height:300px;
    overflow-y: auto;
    font-size:12px;
}
.home-ns .left-title{
	height:18px;
	background-color:#f6f6f6;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fafafa,endColorStr=#f8f8f8);
	background:-moz-linear-gradient(top,#fafafa,#f8f8f8);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fafafa), to(#f8f8f8));
	background:-o-linear-gradient(top, #fafafa, #f8f8f8);
	background: -ms-linear-gradient(top,#fafafa, #f8f8f8);
	background: linear-gradient(top,#fafafa, #f8f8f8);
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding-top:4px;
	border-bottom:1px solid #dddddd;
};
.home-ns .right-container{
    position: relative;
    height: 100%;
    padding:0;
    margin: 0;
}
.home-ns .main-section{
    position:relative;
    width:99.8%; height:99.7%;
    padding:0;
    margin:0;
    background: #E9E9E9;
    z-index: 1;
}
.home-ns .main-ctx{
    width:80%;
    margin:0 auto;
    margin-top:50px;
}
.home-ns .prettyBorder{
    position: absolute;
    overflow: hidden;
    left: 0; top: 0;
    background: rgb(0, 0, 0) none repeat scroll;
    opacity: 0.05;
    filter:alpha(opacity=5);
    display: block;
    z-index: 101;
}
.home-ns .se-border-left{
    background-position: 0 3px;
    width: 3px; height: 100%;
}
.home-ns .se-border-top{
    background-position: 0 0;
    width: 100%; height: 3px;
}
.home-ns .height100{
    height:100%; max-height: 100%;
}
.home-ns .btn-toolbar{
    margin-top: 0; margin-bottom: 0;
    float: right;
}
.home-ns footer {
    /*  background: #fff;*/
    position: absolute; bottom:0;
    width:99%; margin:  0 auto; height: 20px; line-height: 20px;
    color:#436976; font-size: 12px;
    text-align: center; text-shadow: 0 0 1px #fff;
    cursor: default;
    z-index: 9999999;
}
.home-ns .ztree{
    padding:5px 0 3px 5px;
}

.popup-container{
    position:relative;
    z-index:100;
}

.tree-panel {
    position: absolute;
    top: 30px;
    left: 0;
    padding:4px 16px 12px 1px;
    height: 200px;
    width: 215px;
    overflow-y: auto;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    z-index: 10000;
}
.bg-frame{position:absolute;left:0px;top:0px; z-index:-1;width:100%;height:100%;}

.mCSB_container{
    padding:5px 0 2px 8px;
}
.result-title{
    position: relative;
    margin: 6px 6px 0 0;
    width: 98%; height: 30px;
    line-height: 30px;
    background-color: rgb(243, 232, 215);
    border-color: #d6e9c6;
    color: rgb(67, 21, 109); font-size: 12px; text-indent: 5px;
}
.mapinfo_but {
    position: absolute;
    left: -1px; top: 40%;
    width: 20px; height: 68px;
    overflow: hidden;
    z-index: 20;
}
.mapinfo_but_con {
    position: absolute;
    width: 20px; height: 68px;
    background: url(../img/mapinfo_4awatk.png);
    cursor: pointer;
    _background: none;
}
.mapinfo_but_spn {
    display: block;
    width: 5px; height: 10px;
    overflow: hidden;
    margin: 29px 0 0 6px;
    background: url(../img/mapinfo_4awatk.png) no-repeat -6px -29px;
}
.mapinfo_but_open{
    background-position: -29px -29px;
}
.popupHeader{
    font-size: 14px;
    font-weight: bold;
    border-bottom:solid 1px #ddd;
}
.small-img{
    margin-top:10px;
    width:100px; height:80px;
    border:solid 1px #eee;
    cursor:pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.small-img:hover{
    border:solid 1px blue;
}
.search-bar{
    position: absolute;
    top:30px;
    right:5%;

}
.search-icon{
    background: url(../img/paging.png) -281px -1px;
    width:36px;height:36px;
}
.sub-title{
    text-shadow: 0 0 1px #fff;
    margin: 0 0 0 40px;
}
.leftTitle{
    font-size:12px;
    font-weight: bold;
    text-shadow: 0 0 1px #fff;
    margin: 9px 0 0 8px;
    cursor: default;
}

.map-legend{
    position:absolute;
    left:0;
    bottom:0;
    border:solid 1px #eee;
    overflow:hidden;
}
.markerRect{
    width:12px;
    height:12px;
    border:solid 1px red;
}
.dropdown-menu .divider{
    margin:5px 1px;
}
.dropdown-menu li a{
    padding-left: 10px;
    padding-right: 10px;
}

.title-text{
    color:#0068d7;
    cursor:default;
    margin:0 8px;
    line-height:22px;
}
.left-title-text{
    margin-left:8px;
    font-size: 13px;
    font-weight: bold;
    cursor: default;
}
.smalltitle{
    font-size:12px;
}

.markNameCss{
    position: relative;top:-24px; left:22px;
    font-weight:500;font-size:12px;
    padding:0 5px;height:20px; line-height:20px;
    color:#2A00DA;
    background-color:white;
    border:solid 1px #0068d7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    opacity:0.85;
    filter:alpha(opacity=80)
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    box-shadow: 0 0 2px 0 #ffffff;
    text-shadow: 0 0 0 #222;
    white-space:nowrap; text-overflow:ellipsis;
}

.detailTbl{

}
.detailTbl tr.info{
    padding:2px 0;
    line-height: 16px;
    height:16px;
}
.detailTbl tr.info:hover{
    background-color: #e6ecf1;
}
.detailTbl .textInfo{
    text-indent: 24px;
    color:rgb(32, 22, 151);
}
/*****  *****/
.record-add {
     float: left;
     margin: 4px 2px 0 0;
     width: 16px;
     height: 16px;
     background: url(../img/icons-1.png) -128px -68px;
 }
.record-edit {
    float: left;
    margin: 4px 2px 0 0;
    width: 16px;
    height: 16px;
    background: url(../img/icons-1.png) -154px -68px;;
}
/***** 表单项 *****/
.form-horizontal .control-label {
   margin:0px;
   padding:0px;
}
.form-horizontal .control-group {
    margin-bottom: 0px;
}
.form-horizontal .control-label {
    width: 100px;
    color:#504C58;
}
.form-horizontal label {
   line-height:30px;
}
.form-horizontal .controls {
    margin-left: 110px;
}
.select-date{
	color:#0569C9;
}
/* EFFECTS
***************/
.glow {
    margin:0;
    padding: 10px 0 0 25px;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
    text-shadow: 0 0 1px #fff;
}
.glow.in {
    text-shadow:
        0.015em 0.015em 0.015em rgba(0, 0, 0, 0.8),
        0 0 0.2em rgba(255, 255, 255, 0.3);
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.fade.in {
    opacity: 1;
}

/******* search bar *******/
.search-container {
    margin:18px 0 0 0;
    min-width: 660px;
}
.search-container table{
    margin:15px auto 0 auto;
}
.search-container .search-title {
    float:left;
    padding: 12px 10px 0 3px;
    font-size:16px;
    color:#3E66CB;
    font-weight:bold;

}
.search-container .search-box-left {
    float:left;
    width:32px;
    height:31px;
    background-image:url(../img/key-left.png);
}
.search-container .search-box-mid {
    float:left;
    width:410px;
    height:31px;
    background-image:url(../img/key-mid.png);
}
.search-container .search-box-right {
    float:left;
    width:12px;
    height:31px;
    background-image:url(../img/key-right.png);
}
.search-container .keyword {
    color:#333;
    margin:1px 0 2px 3px;
    width:403px;
    font-size:13px;
    background-color:#D6E2F1;
    border:0;
    height:20px;
    line-height:20px;
}
.search-container .btn-search {
    margin-left:4px;
    border:0;
    width:98px;
    height:32px;
    background-image:url(../img/search.png);
    cursor:pointer;
}
.search-container .btn-search:hover {
    background-image:url(../img/search-s.png);
}
.search-container .prompt-info {
    color:#555;
    font-size:12px;
}
.search-container .search-splitline {
    margin:16px auto 0px auto;
    width:715px;
    height:15px;
    background-image:url(../img/sline.png);
}

/******* query config *******/

.summaryType .time-cfg,.status-options {
    height:100%;
    line-height:28px;
    margin-left:30px;
}
.date-ul {
    list-style: none;
	float:left;
	color:#5E5E5E;
}
.date-ul li {
    float:left;
    margin: 2px 6px 0 6px;
    height:18px;
    line-height:18px;
    cursor:pointer;
}
.summaryType .time-input {
    width:120px;
    height:12px;
    line-height: 12px;
    margin: 0;
}
.dataType{
    color: #45467a;
}
.dropdown .caret {
    margin-top: 6px;
    margin-left: 2px;
}
.proInfo{
    color:#444;
    font-size:14px;
}
.proInfoHigh{
    color:#C5460A;
    font-size:14px;
}
/******** paging bar classes *******/
.paging-width {
    width:1008px;
    overflow:hidden;
}
.pagecontent-width {
    width:960px;;
}
.paging-wraper {
    position:relative;
    margin:0 auto;
    text-align:left;
}
.centerset-ie6 {
    text-align:center;
}
.paging-bar {
    position:relative;
    clear:both;
    width:630px;
    height:46px;
    margin:2px auto 8px auto;
    text-align:left;
}
.paging-bar .paging-leftbg {
    float:left;
    width:94px;
    height:100%;
    background: url(../img/icons-1.png) -260px -118px;
}
.paging-bar .paging-rightbg {
    float:right;
    width:94px;
    height:100%;
    background: url(../img/icons-1.png) -350px -118px;
}
.paging-bar .paging-content {
    position:absolute;
    left:20px;
    top:5px;
    height:36px;
    line-height:36px;
    padding:0;
    margin:auto 0;
}
.paging-bar .paging-info {
    float:left;
    font-size:12px;
}
.paging-bar .paging-navi {
    float:left;
    height:100%;
    margin:7px 0 0 25px;
}
.paging-bar .paging-navi .paging {
    float:left;
    margin:0 6px;
    width:24px;
    height:24px;
    background-image:url(../img/icons-1.png);
    cursor:pointer;
}
.paging-bar .paging-first {
    background-position:-335px -68px;
}
.paging-bar .paging-pre {
    background-position:-361px -68px;
}
.paging-bar .paging-next {
    background-position:-388px -68px;
}
.paging-bar .paging-last {
    background-position:-413px -68px;
}
.paging-bar .paging-text-p {
    float:left;
    text-indent:0;
    padding:0;
    font-size:12px;
    margin: -6px 0 0;
}
.paging-bar .paging-text-p a:link,.paging-text-p a:visited {
    color:#3366CC;
    text-decoration:none;
}
.paging-bar .paging-curent {
    position:relative;
    top:1px;
    width:60px;
    height:18px;
    line-height:18px;
    background-color:#F1F8FD;
    text-align:center;
    border:1px solid #ccc;
    display:inline-block;
    padding:1px 2px;
    margin-bottom:1px;
    font-size:14px;
    color:#555;
    vertical-align:middle;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border linear .2s,box-shadow linear .2s;
    -moz-transition:border linear .2s,box-shadow linear .2s;
    -o-transition:border linear .2s,box-shadow linear .2s;
    transition:border linear .2s,box-shadow linear .2s;

}
.paging-bar .paging-countset {
    float:left;
    display:inline;
    width:80px;
    height:30px;
}
.paging-bar .paging-text {
    margin:0 5px;
    color:blue;
    font-size:12px;
}
.paging-bar .paging-psize-sel {
    width:50px;
    margin:0 6px -2px 0;
    padding:0;
    background-color:#F1F8FD;
    border:solid 1px #888;
    height:22px;
    line-height:22px;
}
.select-box{
    position: relative;
    top:9px;
    margin: 0 5px;
    width:40px;
    height:18px;
    line-height: 18px;
    border:solid 1px #538aff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.paging-bar .pagesize-options{
    min-width: 40px;
}
.paging-bar .pagesize-arrows{
    margin:7px 0 0 8px;
}
.paging-bar .paging-first:hover{
    background-position:-336px -93px;
}
.paging-bar .paging-pre:hover{
    background-position:-361px -93px;
}
.paging-bar .paging-next:hover{
    background-position:-388px -93px;
}
.paging-bar .paging-last:hover{
    background-position:-413px -93px;
}
/******** operations bar classes of data table ********/
.data-operate-ul{
    padding: 0;
    margin: 0;
    height: 32px;
    background-image: url(../img/btn-bar-bg.png);
}
.data-operate-ul li {
    float: left;
    margin: 0;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.data-operate-ul a {
    text-decoration: none;
    color: #222;
}

.bar-btn{
    font-size: 12px;
    float:left;
    width:100px;height:32px;
    background: url(../img/menu/buttons.png) -318px -2px;
    cursor: pointer;
}
.bar-btn:hover {
    float:left;
    background-position:-318px -41px;
}
.small-icon{
    width:18px;height:18px;
    background: url(../img/small-icons.png);
}

.small-icon-remove{
    background-position:-7px -2px;
}
.small-icon-remove2{
    background-position:-67px -3px;
}
.small-icon-add{
    background-position:-46px -3px;
}
.small-icon-edit{
    background-position:-7px -2px;
}

.btn-dataopr {
    border: 0;
    width: 82px;
    height: 27px;
}
.btn-excel-import {
    float: left;
    background-position: -523px 0;
}
.btn-excel-import:hover {
    background-position: -523px -35px;
}
.btn-single-add {
    float: left;
    background-position: -523px -64px;
}
.btn-single-add:hover {
    background-position: -523px -93px;
}
.btn-delete-select {
    float: left;
    background-position: -442px 0;
}
.btn-delete-select:hover {
    background-position: -442px -35px;
}


/* data table */
.data-content-border {
    width:98%;
    border:solid 0 #89c9ed;
    margin:0 auto;
}
.datatable-header-container {
    width: 100%;
}
.datatable-header {
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
}
.datatable-header th {
    text-align: center;
    font-weight: bold;
}
.table-container {
    width: 100%;
    max-height: 333px;
    overflow-y: auto;
    overflow-x: hidden;
}
.table-container .mCSB_container{
    margin-right: 12px;
}

.data-table {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 500;
    table-layout: fixed;
}
.data-table tr {
    height: 33px;
    border-bottom:solid 1px #ccc;
}
.data-table td {
    text-align: center;
    padding-right: 0;
}

.data-content-fixed {
    margin:0 auto;
    border:solid 4px #89c9ed;
    width:820px;
}
.row-even {
    height: 22px;
    background-color: #fff;
}
.row-odd {
    height: 22px;
    background-color: #f7f7f7;
}
.row-selected {
    background-color: #fffcd3;
    opacity: 0.90;
    filter:alpha(opacity=90);
}
.row-operator {
    float: left;
    margin: 0 4px 0 2px;
    visibility: visible;
    background-image: url(../img/icons-1.png);
    cursor: pointer;
}
.row-operator-icons {
    float: left;
    margin: 0 4px 0 2px;
    visibility: visible;
    background-image: url(../img/small-icons.png);
    cursor: pointer;
}
.row-operator-icons-grant {
   background-position: -26px -2px;
    width: 18px;
    height: 18px;
}
.row-operator-role{
	float: left;
    margin: 0 4px 0 2px;
    visibility: visible;
    background-image: url(../img/role-rel-user.png);
    cursor: pointer;
}
.row-operator-role-user{
	width:16px;
	height:16px;
}
.row-operator-del {
    background-position: -9px -1px;
    width: 18px;
    height: 17px;
}
.row-operator-edit {
    width: 18px;
    height: 17px;
    background-position: -154px -68px;
}
.row-operator-detail {
    width: 18px;
    height: 18px;
    background-position: -154px -94px;
}
.row-operator-redo {
    width: 19px;
    height: 18px;
    background-position: -282px -96px;
}
.row-operator-export {
    width: 17px;
    height: 16px;
    background-position: -680px -237px;
}
.row-operator-download {
    width: 17px;
    height: 16px;
    background-position: -304px -95px;
}
.row-operator-metadata{
	width:18px;
	height:18px;
	background-position:-154px -94px;
}
.row-operator-apply {
    width: 17px;
    height: 16px;
    background-position: -680px -237px;
}
.chk-td {
    padding-left: 10px;
}

.auth-res-type{
    position: relative;
    margin:12px 0 0 0;
    z-index: 10;
    border-bottom-width: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.auth-res-type li{
    margin: 0 10px 0 0;
}
.user-role-rel, .auth-privs, .user-permis{
    position: relative;
    height:88%;
    border:solid 1px #ddd;
    top:-2px;z-index: 1;
}

.own-roles,.not-own-roles{
    border: solid 1px #eee;
    height:88%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:4px 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.roles-ul li{
    line-height: 23px;
}
.permis-legend{
    position: absolute;
    right:15px;top:15px;
    color:#666;
    cursor: default;
}
.nav-tabs li a{
    font-weight: bold;
}

/***** 滚动条样式 *****/
.nui-scroll{
    position: relative;
    overflow: auto;
}
.nui-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.nui-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}
.nui-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}
.nui-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}


/****  颜色面板 *****/
.picker-color{
    position: absolute;
    width: 400px;
    top:100px;right:50px;
    z-index: 99999;
}
.farbtastic {
    position: relative;
}
.farbtastic * {
    position: absolute;
    cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
    width: 195px;
    height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
    top: 47px;
    left: 47px;
    width: 101px;
    height: 101px;
}
.farbtastic .wheel {
    background: url(../img/color-wheel.png) no-repeat;
    width: 195px;
    height: 195px;
}
.farbtastic .overlay {
    background: url(../img/color-mask.png) no-repeat;
}
.farbtastic .marker {
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
    overflow: hidden;
    background: url(../img/color-marker.png) no-repeat;
}

.ui_main{
    display:block;
}
.ui_content{
    height:100%;
}
.exSpan9{
	height:100%;
}
.datatable-header tr{
	height:30px; 
}
.home-ns .middle-container{
    position: relative;
    width:78%;
  /*min-width:1024px; */
   	min-width:1120px;
    height: 100%;
    padding:0;
    margin: 0 auto;
    border:0;
}
.background-image_panel{
	background-image: url("../img/panel_bg.png");
}
.lefttopbg{
	background-position: -6px -4px;
}
.righttopbg{
	background-position: -38px -4px;
}
.leftbottombg{
	background-position: -6px -59px;
}
.rightbottombg{
	background-position: -38px -59px;
}
.charts-analyse-left{
	float: left;
}
.charts-analyse-2_pie{
	float: left;
	width:100%;
}
.charts-analyse-data{
	width:100%;
	height:216px;
	text-align:center;
}

.charts-analyse-right{
	float:right;
}
.table-fixed{
	table-layout:fixed;
	width:100%;
}
.radius-11{
	-webkit-border-radius:11px;
	-moz-border-radius:11px;
	border-radius:11px;
	border:1px solid rgba(204,204,204,1);
	overflow:hidden;
}
.radius-1{
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	overflow:hidden;
}
.radius-5{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.radius-5-bottomRight{
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
}
.radius-11-topLeft-topRight{
	-webkit-border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-top-left-radius:11px;
	-moz-border-top-right-radius:11px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border:1px solid rgba(204,204,204,1);
	overflow:hidden;
}
.radius-4-bottomLeft-bottomRight{
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-moz-border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border:1px solid rgba(204,204,204,1);
	overflow:hidden;
}
/*********************************地图浏览******************************/
.map{
	width:100%;
	height:100%;
	background-color:#FFF;
}
.transparent-09 {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.transparent-05 {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.transparent-07 {
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.transparent-05 {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.boxshadow{
	-webkit-box-shadow: 0px 0px 0px 1px white inset;
     -moz-box-shadow: 0px 0px 0px 1px white inset;
     box-shadow: 0px 0px 0px 1px white inset;
}
.borderTop-4C8BDC{
	border-top:2px solid #4C8BDC;
}
.fontbg{
	background-color:#999999;
}
.fontbg-hover{
	background-color:#87BAFB;
}
.catalog-content{
	/* border-bottom:1px solid rgba(204,204,204,1);
	border-right:1px solid rgba(204,204,204,1); */
	width:96%;
	margin:10px auto 0px auto;
}
#catalogTree a:hover{
	text-decoration: none;
}
.separation{
	background-position:-10px -3px;
	width:4px;
	height:17px;
	display:inline-block;
	background-repeat:no-repeat;
}
.tool-bar{
	font-family: '楷体 宋体';
	color:#000000;
	font-size:12px;
	line-height:25px;
}
.tool .icons-font:hover{
	color:#4C73C2;
}
.tool-icons{
	margin-top:-3px;
}
.tool{
	cursor:pointer;
	margin-left:4px;
	margin-right:4px;
	height:22px;
	display:inline-block;
}
/* 地名地址查询 */
.query-container{
	position:relative;
	float:left;
	width:220px;
	margin-right: 10px;
}
.query-container .nameinput{
	float:left;
	width: 132px;
	font-size: 13px;
	color: gray;
}
.query-container .namequery{
	float:left;
	vertical-align:top;
	font-size: 12px;
	width: 30px;
}
#map-icons > span{
	cursor:pointer;
}
.catalog-tree{
	width:100%;
}
.catalog-search{
	height:100px;
	width:100%;
}
.history-slider-bar{
	position:absolute;
	right:110px;
	background-color:#F8F8F8;
	top:55px;
	z-index:2999;
	height:55px;
	padding-left:20px;
	padding-right:20px;
}
.history-historytitle{
	position:relative;
	float:left;
	top:20px;
	font-size:18px;
	color:#d16e05;
}
.history-desc{
	position:relative;
	color:#4C8BDC;
	height:20px;
	top:6px;
	z-index:99999999999;
	min-width: 53px;
	color:#d16e05;
}
.history-slider{
	position:relative;
	background-color:#F8F8F8;
	top:2px;
	left:100px;
	z-index:99999999999;
}
.ruling{
	position:relative;
	overflow:hidden;
	margin:0px;
	top:8px;
	left:100px;
}
.ruling li{
	float:left;
	width:49px;
	height:6px;
	border-left:solid 1px #888;
}
.ruling li.ruling-last-li{
	width:48px;
	border-right:solid 1px #888;
}
.data-bg{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FDFDFD,endColorStr=#E5E5E5);
    background:-moz-linear-gradient(top,#FDFDFD,#E5E5E5);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FDFDFD), to(#E5E5E5));
    background:-o-linear-gradient(top, #FDFDFD, #E5E5E5);
    background: -ms-linear-gradient(top,#FDFDFD, #E5E5E5);
    background: linear-gradient(top,#FDFDFD, #E5E5E5);
}

.icons-bg{
	background-image:url(../img/maptool/map-tool.png);
}
.panel-control-bg{
	background-image:url(../img/maptool/panel-control.png);
}
.icons-netbg{
    background-image:url(../img/maptool/map-nettool.png);
}

.icons-start{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-300px -3px;
}
.icons-start:hover{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-300px -28px;
}
.icons-access{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-321px -3px;
}
.icons-access:hover{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-321px -28px;
}
.icons-bar{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-343px -3px;
}
.icons-bar:hover{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-343px -28px;
}
.icons-end{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-363px -3px;
}
.icons-end:hover{
    height:17px;
    width:19px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:-363px -28px;
}
.icons-fullmap{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-41px -3px;
}
.icons-fullmap:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-41px -28px;
}
.icons-exitscreen{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-20px -3px;
}
.icons-exitscreen:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-20px -28px;
}
.icons-zoomin{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-63px -3px;
}
.icons-zoomin:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-63px -28px;
}
.icons-zoomout{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-80px -3px;
}
.icons-zoomout：hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-80px -28px;
}
.icons-clear{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-99px -3px;
}
.icons-clear:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-99px -28px;
}
.icons-fullscreen{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-118px -3px;
}
.icons-fullscreen:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-118px -28px;
}
.icons-moretool{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-138px -2px;
}
.icons-moretool:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-138px -27px;
}
.icons-print{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-159px -3px;
}
.icons-print:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-159px -28px;
}
.icons-move{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-180px -3px;
}
.icons-move:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-180px -28px;
}
.icons-select{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-202px -3px;
}
.icons-select:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-202px -28px;
}
.icons-2dmap{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-219px -3px;
}
.icons-2dmap:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-219px -28px;
}
.icons-3dmap{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-240px -3px;
}
.icons-3dmap{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-240px -28px;
}
.icons-refresh{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-260px -4px;
}
.icons-refresh:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-260px -29px;
}
.icons-distance{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-279px -3px;
}
.icons-distance:hover{
	height:17px;
	width:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:-279px -28px;
}
.icons-img{
	margin-top:5px;
}
.icons-font{
	display:inline-block;
	vertical-align:top;
	margin-top:1px;
}
.icons-services{
	height:17px;
	width:17px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-image:url(../img/maptool/opt_h.png);
	background-size:7px;
}
.icons-services:hover{
	height:17px;
	width:17px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-image:url(../img/maptool/opt_h.png);
	background-size:7px;
}
.control-button{
	border-top:1px dashed rgba(204, 204, 204, 1);
}
.title-panel{
	height:30px;
	text-align:center;
	margin-left:2px;
	line-height:28px;
	float:left;
	width:100px;
	cursor:pointer;
}
.activeTitle{
	background-image:url('../img/chartsTitle.png');
	background-repeat:no-repeat;
	cursor:default;
	margin-top:-3px;
	color:#FFFFFF;
	background-image:url(../img/maptool/panel-control.png);
	background-position:-83px -45px;
}

.left-page{
	width:18%;
	float:left;
	height:100%;
	min-width:240px;
	margin-left:-2px;
	border:1px solid rgba(204, 204, 204, 1)
}
.right-page{
	float:right;
	width:81%;
	position:relative;
	margin-left:0px;
	height:100%;
	border-left:0px;
}
div.smMap{
	border-left:0px !important;
}
.maps-list a{
	text-decoration: none;
	color:#000000;
	text-align: center;
	background-color: rgb(244, 244, 243);
}

.maps-list a:hover{
	background-color:#87BAFB;
	color:#FFFFFF;
}
.left-page-content{
	width:94%;
	margin:36px auto 0px auto;
	height:94%;
	margin-left:3%;
	border:1px solid rgba(204, 204, 204, 1)
}
.catalog-format{
	border: 1px dashed #ccc;
	line-height:25px;
	padding-left:5px;
	width:60%;
	float:left;
}
.catalog-format1{
	margin: 0px auto; 
	width: 80%; 
	font-size: 12px;
	font-family:'楷体 宋体'
}
.catalog-model-checkbox{
	font-size:12px;
	float:left;
	margin-top:5px;
}
.catalog-format-list{
	margin: 0px auto; 
	width: 62%; 
	background-color: rgb(244, 244, 243);
	top:25px;
}

.catalog-format-list a{
	font-size: 12px;
	font-family:'楷体 宋体';
	color:#000000;
	padding:0px 5px;
	text-decoration: none;
	line-height:25px;
	cursor:pointer;
}
.catalog-format-list a:hover{
	background-color:#87BAFB;
	color:#FFFFFF;
}
.catalog-format:hover{
	border: 1px solid #4D8ADB;
	-webkit-box-shadow: 0px 0px 3px 0px #4D8ADB inset;
    -moz-box-shadow: 0px 0px 3px 0px #4D8ADB inset;
    box-shadow: 0px 0px 3px 0px #4D8ADB;
}
.arrows-left{
	background-position:-53px -3px;
	width:21px;
	height:21px;
	float:right;
	margin-top:3px;
	margin-right:15px;
	display:block;
	cursor:pointer;
}
.arrows-right{
	background-position:-80px -3px;
	width:21px;
	height:21px;
	float:left;
	margin-top:3px;
	display:block;
	cursor:pointer;
}
.collapse-right{
	background-position:-7px -6px;
	width:15px;
	height:15px;
	float:left;
	margin:8px 5px 0px 5px;
	display:block;
	cursor:pointer;
}
.collapse-right:hover{
	background-position:-24px -6px;
}
.collapse-down{
	background-position:-24px -6px;
	width:15px;
	height:15px;
	float:left;
	margin:8px 5px 0px 5px;
	display:block;
	cursor:pointer;
}
.collapse-delete{
	background-position:-112px -6px;
	width:15px;
	height:15px;
	display:block;
	top:8px;
	right:10px;
	position:absolute;
}
.overlay{
	background-position:-10px -31px;
	width:58px;
	height:67px;
	color:#000;
}
.overlay:hover{
	/* background-position:-9px -30px;
	width:56px;
	height:65px;
	border:1px solid #8BB2E5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px; */
	background-position:-10px -100px;
	width:58px;
	height:67px;
	color:#FFF;
}
.overlay-hover{
	background-position:-10px -100px;
	width:58px;
	height:67px;
	color:#FFF;
}
.query-icon{
	background-position:-80px -100px;
	width:58px;
	height:67px;
	color:#000;
}
.query-icon:hover{
	background-position:-148px -100px;
	width:58px;
	height:67px;
	color:#FFF;
}
.query-icon-hover{
	background-position:-148px -100px;
	width:58px;
	height:67px;
	color:#FFF; 
}
.collapse-bottom{
	background-position:-23px -5px;
	width:15px;
	height:15px;
	float:left;
	margin:8px 5px 0px 5px;
	display:block;
}
.catalog-tab{
	width:100%;
	height:30px;
	font-family:'楷体 宋体';
	border-bottom:1px solid rgba(204, 204, 204, 1);
	font-weight: bold;
	font-size:12px;
	color:#959595;
}
.query-div .control-label{
	width:60px;
	font-size:12px;
}
.query-div .control-group{
	margin-top:5px;
}
.query-div .controls{
	margin-left:70px;
}

option{
	background-color:white
}

.data-info{
	margin-bottom:5px;
	cursor:pointer;
}
.data-info:hover{
	background-color:#87BAFB;
}
.data-info-h{
	background-color:#87BAFB;
}
.data-info-icon{
	display:inline-block;
	width:23px;
	height:25px;
	color:#DC6620;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:14px;
}
.data-info-title{
	display:inline-block;
	margin-left:10px;
	color:#4C73A2;
	font-size:12px;
	font-weight:bold;
}
.font-weight{
	font-weight:bold;
}
.pagination-ul li{
	cursor:pointer;
}

/****************************我的地图***********************/
ul{
	list-style:none
}
.step .step-info {
    padding: 15px 0 5px 0;
    font-size: 14px;
}
.step .success-info{
    padding: 30px 0 20px 50px;
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
}
.step .divider {
    height: 1px;
    margin: 5px 2px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px dashed #ccc;
}
.introInfo {
    position: relative;
    padding: 20px 0 5px 75px;
    text-indent: 20px;
    background: url(../img/register.png) no-repeat;
    font-size: 16px;
    color: #2c2fd0;
    letter-spacing: 1px;
    font-family: "微软雅黑";
    line-height: 25px;
    margin-bottom: 0;
    cursor: default;
}

/*我的地图*/
.rmain-container{
    width:85%;
    height: 99%;
    min-height:640px;
    margin: 0px auto 0px auto;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,
		startColorStr=#f9f9f9, endColorStr=#FFFFFF);
	background: -moz-linear-gradient(top, #f9f9f9, #FFFFFF);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9),
		to(#FFFFFF));
	background: -o-linear-gradient(top, #f9f9f9, #FFFFFF);
	background: -ms-linear-gradient(top, #f9f9f9, #FFFFFF);
	background: linear-gradient(top, #f9f9f9, #FFFFFF);
}
/*阴影*/
.panel-border2{
	border: 1px solid #F1F1F1;
    border: 1px solid rgba(204,204,204, 0.8);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 3px rgba(204,204,204, 0.5);
    -moz-box-shadow: 0 3px 3px rgba(204,204,204, 0.5);
    box-shadow: 0 3px 3px rgba(204,204,204, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.step-box {
    position: relative;
    top: 0;
    width: 740px;
    padding: 0;
    margin: 0 auto;
    border: solid 0 #d0eeff
}
.steps .nec{
    color: #ff7410;
}
.promptinfo {
    text-indent: 20px;
    padding-top: 2px;
    color: #81837C;
    font-size: 12px;
    cursor: default;
}
.promptErrorinfo {
    font-size: 12px;
    width:220px;
    height: 20px;
    line-height: 20px;
    color: #333;
    text-indent: 20px;
    border: solid 1px #DBDBD3;
    cursor: default;
    background: #FBFCDA url(../img/error-small.png) no-repeat 0 50%;
    display: none;
}
.steps .icon_li{
	float:left;
	margin-right:10px;
	margin-top:7px;
	vertical-align:center;
	text-align:center;
	cursor:pointer;
}

.steps .icon_li:hover{
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	outline:0;
}

.continue-add{
	clear:both;
	display:block;
	margin-left: 130px;
  	margin-top: 20px;
}
.borderTop-4c8bdc{
	border-top:2px solid #4c8bdc;
}
.home-ns .right-ctx{
  	position: relative;
	left: 0;
	top: 8px;
	min-height:460px;
	margin: 0 auto 0 auto;
	width:85%;
	overflow-y: auto;
	font-size: 12px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,
		startColorStr=#f9f9f9, endColorStr=#FFFFFF);
	background: -moz-linear-gradient(top, #f9f9f9, #FFFFFF);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9),
		to(#FFFFFF));
	background: -o-linear-gradient(top, #f9f9f9, #FFFFFF);
	background: -ms-linear-gradient(top, #f9f9f9, #FFFFFF);
	background: linear-gradient(top, #f9f9f9, #FFFFFF);
}
.search-container {
    position: relative;
    margin:18px 0 0 0;
    z-index: 109;
    min-width: 660px;
}
.search-container table{
    margin:15px auto 0 auto;
}
.search-container .search-title {
    float:left;
    padding: 12px 10px 0 3px;
    font-size:16px;
    color:#3E66CB;
    font-weight:bold;

}
.search-container .search-box-left {
    float:left;
    width:32px;
    height:31px;
    background-image:url(../img/key-left.png);
}
.search-container .search-box-mid {
    float:left;
    width:410px;
    height:31px;
    background-image:url(../img/key-mid.png);
}
.search-container .search-box-right {
    float:left;
    width:12px;
    height:31px;
    background-image:url(../img/key-right.png);
}
.search-container .keyword {
    color:#333;
    margin:1px 0 2px 3px;
    width:403px;
    font-size:13px;
    background-color:#D6E2F1;
    border:0;
    height:20px;
    line-height:20px;
}
.search-container .btn-search {
    margin-left:4px;
    border:0;
    width:98px;
    height:32px;
    background-image:url(../img/search.png);
    cursor:pointer;
}
.search-container .btn-search:hover {
    background-image:url(../img/search-s.png);
}
.search-container .prompt-info {
    color:#555;
    font-size:12px;
    letter-spacing: 2px;
}
.search-container .search-splitline {
    margin:6px auto;
    width:715px;
    height:15px;
    background-image:url(../img/sline.png);
}
.tabvalue{
	color:#2c2fd0;
}
.stemp-button{
	width:400px;
}
.submit-ctx button{
	margin-left:100px;	
}
.img-polaroid{
	width:40px;
	height:40px;
}
.service-tree{
	position:absolute;
	width:auto;
	height:auto;
	left:170px;
	top:-200px;
	max-width:350px;
	max-height:350px;
	min-width:250px;
	min-height:250px;
	background-color:white;
	display:none;
	z-index:99999999;
	overflow:auto;
}
.map-btn{
	cursor:pointer;
	color:#0044CC;
}
.steps .controls{
	margin-left:130px;
}
.icon_ul{
	margin-left:0px;
}
.icon_ul .icon_li{
    width: 8%;
	position:relative;
}
.icon_ul .selected-icon{
	position:absolute;
	right:0px;
	z-index:999999;
}
.save-btn{
	width:200px;
}

.contextMenu{
    /* width: 86px; */
    width: 96px;
    /* height: 95px; */
    height:115px;
    top:2px;
    left: 3px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: #ccc;
    border-right-color:#ccc ;
    border-left-color:#ccc ;
    border-top-color:#ccc ;
    border-bottom-width:1px ;
    border-left-width:1px ;
    border-right-width: 1px;
    border-top-width:1px ;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    background-repeat: repeat;
    background-image: none;

    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: rgb(255,255,255);

    position: absolute;
    z-index: 9999;
}
.inline style{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255,255,255);
    background-image: none;
    background-origin: padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-repeat: repeat;
    background-size: auto;
}
.contextMenu li{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    overflow:hidden;
    overflow-y:hidden;

}
.contextMenu a{
    hight:30px;
    color: #333;
    line-height: 20px;
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
    outline-width: medium;
    outline-style: none;
    outline-color: invert;
    background-repeat:no-repeat;
    background-position-x:6px ;
    background-position-y:center ;
}

.li:hover{
   /* margin: 0px;
    padding: 0px;*/
    background-color: #e6ecf1;
}
#rightClickPop{
    /* width: 90px !important; */
    width: 100px !important;
    /* height: 100px !important; */
    height: 121px !important;
}
#rightClickPop1{
    /* width: 90px !important; */
    width: 100px !important;
    /* height: 100px !important; */
    height: 28px !important;
}

.list_street{
      height: auto;
      text-align: left;
      text-decoration: none;
      margin-top:1px;
      margin-right:0px;
      margin-bottom: 10px;
      margin-left: 10px;
      float: left;
      display: block;
      background-attachment:scroll;
      background-repeat: no-repeat;
      background-position-x:0px ;
      background-position-y:-259px ;
      background-size: auto;
      background-origin: padding-box;
      background-clip: border-box;
      background-color: transparent;
  }
.list_street li{
    font-size: 13px;
    line-height:140%;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}


.path_list_street{
    height: auto;
    text-align: left;
    color: #3c6fcb;
    text-decoration: none;
    margin-top: 1px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    display: block;
    position: relative;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position-x:0px ;
    background-position-y:-259px ;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
}
.path-data{
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
}
