<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/function.css">
<link rel="stylesheet" href="css/slider.css">
<link rel="stylesheet" href="css/dyn-menu.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/resulttable.css">
<link rel="stylesheet" href="css/opa-icons.css">
<link rel="stylesheet" href="css/register.css">
<script>
function formReset()
{
  document.getElementById("frm1").reset();
}
function register()
{
	alert("确定注册信息正确？");
	}
</script>
</head>

<body>
<div>
<header id="header">
    	<div class="caption-bg"></div>
        <h1 class="f-mg0 hidden">服务注册</h1>
        
       	<div class="index-login">
        	<div class="left-index"></div>
        	<div class="index-user">
        		<div class="log-img admin-img"></div><span class="index-username"><a class="usercenter index-logout-color" target="_blank" href="http://127.0.0.1:8080/usercenter">超级管理员</a></span>
        	</div>
        	<div class="index-out">
        		<div class="log-img logout-img"></div><div class="index-loginout"><a class="index-logout-color" href="http://127.0.0.1:8080/cas/logout?service=http%3A%2F%2F127.0.0.1%3A8080%2Fnav%3Fr%3D0.4224377132872936">注销</a><a class="index-logout-color" style="display:inline-blokc;margin-left:10px" href="http://127.0.0.1:8080/nav" target="_blank">首页</a></div>
        	</div>
        	<div class="right-index"></div>
        </div>
        <!-- 主菜单 -->
        <nav id="main-menu" class="main-menu">
           
            <script id="main-menu-template" type="text/template">
                <%_.each(obj, function(data,i) {
				var css_="";
				if(data.css != null && data.css != "" ){
					css=data.css;
				}else{
					css="menu-"+(i+1);
				}
				%>
                <li mid="<%=data.pkid%>">
                    <div class="menu-icon <%=css%>"></div>
                    <div class="menu-text"><%=data.name%></div>
                </li>
                <%});%>
            </script>
        </nav>
    </header>
</div>
<form id = "frm1">
<div class="clearfix step-box">
  <ul id= "steps" class=  "steps">
    <li class= "step">
      <div class="step-infor">
        <h4> <i class= "icon- edit h4icon"></i> 填写服务原始地址</h4>
        <div class ="divdier"></div>
      </div>
      <div class="form-horizontal f-mt3">
        <div class="contro-group">
          <label class= "control-label" for="meta_surl"> <span class ="f-red">@&nbsp;</span> 服务地址 </label>
          <div class="controls">
            <input  id = "meta_surl"type="text" class = "bigbox f -f1" value="http://" defval="http://baidu.com">
            <span class = "promption f -f1"> <span class="nec" style="color: #B82F3B">必填</span> ，请正确填写注册服务的原始地址 </span>
            <div class="promptErrorinfo bigbox nullInfo" style="display: none;">原始服务的访问地址不正确！</div>
          </div>
        </div>
      </div>
    </li>
    <li class="step hide" id="layers-step" style="display: none;">
      <div class="step-info">
        <h4><i class="icon-check h4icon"></i>选择图层</h4>
        <div class="divider"></div>
      </div>
      <div class="form-horizontal  f-mt3">
        <div class="f-ml50" style="width: 100px; display: none;" id="allLayers">
          <label class="checkbox">
            <input id="checkall" type="checkbox">
            <span>所有图层</span> </label>
        </div>
        <ul class="layers-ul f-ml50 clearfix" id="layers-ul">
        </ul>
      </div>
    </li>
    <li class="step">
      <div class="step-info">
        <h4> <i class="icon-edit h4icon"></i> 填写服务元数据 </h4>
        <div class="divider"></div>
      </div>
      <div class="form-horizontal  f-mt3">
        <div id="metadata-container">
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <style type="text/css">
    .metadata-form{
    }
    .item-header{
        font-size: 12px;
        font-weight: bold;
        padding: 4px 40px 4px 5px;
        cursor: pointer;
    }
    .item-header:hover{
        margin-bottom: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #3a87ad;
        background-color: #fffede;
        border-color: #bce8f1;
    }
    .dropdown input[readonly] {
        cursor:pointer;
        background-color: #fff;
    }
    .prompt-header{
        padding: 0;
        color: #ff3f41;
        font-size: 12px;
        font-weight: normal;
    }
    .group .f-mt10{
        margin-top: 10px;
    }

</style>
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span12 metadata-form" id="metadata-form">
                <div class="group" id="service_identify">
                  <div class="item-header"> <i class="icon-chevron-down"></i> <span>服务基本信息（<span class="nec">必填项</span>）</span> <span class="prompt-header"></span> </div>
                  <div class="form-horizontal f-mt10" style="display: block;">
                    <div class="control-group" id="dist-item">
                      <label class="control-label" for="meta_sdist"> <span class="f-red">*&nbsp;</span>数据范围</label>
                      <div class="controls">
                        <div id="meta_sdist" class="textbox midbox f-fl"> <span>---请选择---</span>
                          <!--<b class="caret hand f-mt5 f-fr"></b>-->
                          <select>
                            <option value="henan">河南</option>
                            <option value="hebei">河北</option>
                            <option value="beijing">北京</option>
                            <option value="tijing">天津</option>
                          </select>
                        </div>
                        <div class="ztree tree-panel panel-pos" code="catalogCode" style="display: none;"> </div>
                      </div>
                      <div class="promptinfo"><span class="nec">必填</span>，请选择注册服务所在的数据范围</div>
                    </div>
                    <div class="control-group" id="theme-item">
                      <label class="control-label" for="meta_sspec"> <span class="f-red">*&nbsp;</span>专题类型</label>
                      <div class="controls">
                        <div id="meta_sspec" class="textbox midbox f-fl"> <span>---请选择---</span> <b class="caret hand f-mt5 f-fr"></b>
                          <select>
                            <option value="guotu">国土</option>
                            <option value="jichutuceng">基础图层</option>
                          </select>
                        </div>
                        <div class="ztree tree-panel panel-pos" code="catalogCode" style="display: none;"> </div>
                      </div>
                      <div class="promptinfo"><span class="nec">必填</span>，请选择注册服务的专题类型</div>
                    </div>
                    <!--<div class="control-group hidden">
    <label class="control-label" for="meta_deptthemecode">目录专题所在部门</label>
    <div class="controls">
      <input id="meta_deptthemecode" type="text" code="">
    </div>
  </div>-->
                    <div class="control-group" id="depttheme-item">
                      <label class="control-label" for="meta_deptthemename"> <span class="f-red">*&nbsp;</span>部门专题</label>
                      <div class="controls">
                        <div id="meta_deptthemename" class="textbox midbox f-fl"> <span>---请选择---</span>
                          <!--<b class="caret hand f-mt5 f-fr"></b>-->
                          <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
                        </div>
                        <div class="promptErrorinfo midbox">没有选择部门专题！</div>
                        <div class="ztree tree-panel panel-pos" code="catalogCode" style="display: none;"></div>
                      </div>
                      <div class="promptinfo"><span class="nec">必填</span>，请选择注册服务的部门专题</div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_sname"> <span class="f-red">*&nbsp;</span>服务名称</label>
                      <div class="controls">
                        <input id="meta_sname" type="text">
                        <span class="promptinfo f-ml5"><span class="nec"><span class="nec">必填</span></span>，请填写注册服务的名称</span>
                        <div class="promptErrorinfo midbox nullInfo">服务名称不能为空！</div>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_sresourcename"> <span class="f-red">*&nbsp;</span>资源名称</label>
                      <div class="controls">
                        <input id="meta_sresourcename" type="text">
                        <span class="promptinfo f-ml5"><span class="nec">必填</span>，请输入服务所属资源的名称</span>
                        <div class="promptErrorinfo midbox nullInfo">资源名称不能为空！</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="step" id="servicetype">
                  <div class="item-header"> <i class="icon-chevron-down"></i> <span>服务类型信息（<span class="nec">必填项</span>）</span> <span class="prompt-header"></span> </div>
                  <div class="form-horizontal f-mt10 hide" style="display: block;">
                    <div class="control-group" id="servicetype-item">
                      <label class="control-label" for="meta_stype"><span class="f-red">*&nbsp;</span>服务类型</label>
                      <div class="controls">
                        <div id="meta_stype" class="textbox midbox f-fl">
                          <!-- <span code="009">自定义服务</span> -->
                          <select>
                            <option value="地图服务">地图服务</option>
                            <option value="数据服务">数据服务</option>
                            <option value="三维服务">三维服务</option>
                            <option value="网络分析服务">网络分析服务</option>
                            <option value="空间分析服务">空间分析服务</option>
                            <option value="地名地址服务">地名地址服务</option>
                          </select>
                          <b class="caret hand f-mt5 f-fr"></b></div>
                        <div class="promptinfo f-fl"><span class="nec">必填</span>，请选择所要注册服务的类型</div>
                        <div class="promptErrorinfo midbox">没有选择服务类型！</div>
                        <div class="ztree tree-panel panel-pos" code="pkid" style="display: none;"></div>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_stype" > <span class="f-red">*&nbsp;</span>接口类型</label>
                      <div class="controls">
                        <div id="meta_stype" class="textbox midbox f-fl">
                          <!--<span code="009">自定义服务</span> -->
                          <select>
                            <option value="WFS100">WFS100</option>
                            <option value="WMS111">WMS111</option>
                            <option value="WSM130">WSM130</option>
                            <option value="SGSWMTS100">SGSWMTS100</option>
                            <option value="SMRESTMAP">SMRESTMAP</option>
                            <option value="WMTS100">WMTS100</option>
                          </select>
                          <b class="caret hand f-mt5 f-fr"></b></div>
                        <div class="promptinfo f-fl"><span class="nec">必填</span>，请选择注册服务的接口类型</div>
                        <div class="promptErrorinfo midbox">没有选择接口类型！</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group" id="service_spationinfo" style="display: none;">
                  <div class="item-header"> <i class="icon-chevron-right"></i> <span>服务空间信息（选填项）</span> <span class="prompt-header"></span> </div>
                  <div class="form-horizontal f-mt10 hide">
                    <div class="control-group">
                      <label class="control-label" for="prjcoordsyscode">坐 标 系</label>
                      <div class="controls">
                        <input id="prjcoordsyscode" type="text">
                        <span class="promptinfo  f-ml5">坐标系作为服务预览时的默认坐标系</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="bounds_left">左：</label>
                      <div class="controls">
                        <input id="bounds_left" type="text">
                        <span class="promptinfo  f-ml5">当前服务空间数据的最左侧坐标</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="bounds_bottom">下：</label>
                      <div class="controls">
                        <input id="bounds_bottom" type="text">
                        <span class="promptinfo  f-ml5">当前服务空间数据的最下侧坐标</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="bounds_right">右：</label>
                      <div class="controls">
                        <input id="bounds_right" type="text">
                        <span class="promptinfo  f-ml5">当前服务空间数据的最右侧坐标</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="bounds_top">上：</label>
                      <div class="controls">
                        <input id="bounds_top" type="text">
                        <span class="promptinfo  f-ml5">当前服务空间数据的最上侧坐标</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="center_x">中心点X：</label>
                      <div class="controls">
                        <input id="center_x" type="text">
                        <span class="promptinfo  f-ml5">当前服务空间数据中心点X坐标</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="center_y">中心点Y：</label>
                      <div class="controls">
                        <input id="center_y" type="text">
                        <span class="promptinfo  f-ml5">当前服务空间数据中心点Y坐标</span> </div>
                    </div>
                  </div>
                </div>
                <div class="group" id="service_identify_2">
                  <div class="item-header"> <i class="icon-chevron-down"></i> <span>服务描述信息（选填项）</span> <span class="prompt-header"></span> </div>
                  <div class="form-horizontal f-mt10 hide" style="display: block;">
                    <div class="control-group">
                      <label class="control-label" for="meta_sversion">服务版本</label>
                      <div class="controls">
                        <input id="meta_sversion" type="text">
                        <span class="promptinfo  f-ml5">请填写服务的版本信息</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_skeys">关 键 词</label>
                      <div class="controls">
                        <input id="meta_skeys" type="text">
                        <span class="promptinfo  f-ml5">请填写服务检索关键词</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_sremark">服务摘要</label>
                      <div class="controls">
                        <input id="meta_sremark" type="text">
                        <span class="promptinfo  f-ml5">请填写服务的相关摘要信息</span> </div>
                    </div>
                  </div>
                </div>
                <div class="group">
                  <div class="item-header"><i class="icon-chevron-down"></i> <span>负责单位信息（选填项）</span> <span class="prompt-header"></span></div>
                  <div class="form-horizontal f-mt10 hide" style="display: block;">
                    <div class="control-group">
                      <label class="control-label" for="meta_depname"> 单位名称</label>
                      <div class="controls">
                        <input id="meta_depname" type="text">
                        <span class="promptinfo f-ml5">负责单位的名称</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_address">联系地址</label>
                      <div class="controls">
                        <input id="meta_address" type="text">
                        <span class="promptinfo  f-ml5">单位的详细联系地址</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_name">联 系 人</label>
                      <div class="controls">
                        <input id="meta_name" type="text">
                        <span class="promptinfo  f-ml5">联系人的姓名</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_phone">联系电话</label>
                      <div class="controls">
                        <input id="meta_phone" type="text">
                        <span class="promptinfo  f-ml5">联系人的电话号码</span>
                        <div class="promptErrorinfo midbox nullInfo">联系人的电话号码格式不正确！！</div>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_fax">传  真</label>
                      <div class="controls">
                        <input id="meta_fax" type="text">
                        <span class="promptinfo  f-ml5">单位的传真地址</span> </div>
                    </div>
                    <div class="control-group hide">
                      <label class="control-label" for="meta_mail">电子邮件</label>
                      <div class="controls">
                        <input id="meta_mail" type="text">
                        <span class="promptinfo  f-ml5">电子邮箱联系地址</span>
                        <div class="promptErrorinfo midbox nullInfo">电子邮箱地址格式不正确！</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group hide">
                  <div class="item-header"> <i class="icon-chevron-right"></i> <span>分发信息（选填项）</span> <span class="prompt-header"></span> </div>
                  <div class="form-horizontal f-mt10 hide">
                    <div class="control-group">
                      <label class="control-label" for="meta_distributor"> 分发单位</label>
                      <div class="controls">
                        <input id="meta_distributor" type="text">
                        <span class="promptinfo f-ml5">负责单位的名称</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_distribute_address">单位地址</label>
                      <div class="controls">
                        <input id="meta_distribute_address" type="text">
                        <span class="promptinfo  f-ml5">分发单位的联系地址</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_distribute_phone">电  话</label>
                      <div class="controls">
                        <input id="meta_distribute_phone" type="text">
                        <span class="promptinfo  f-ml5">分发单位的电话号码</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="meta_distribute_format">分发格式</label>
                      <div class="controls">
                        <input id="meta_distribute_format" type="text">
                        <span class="promptinfo  f-ml5">服务的分发格式</span> </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="group hide">
                  <div class="form-horizontal f-mt10">
                    <div class="control-group">
                      <label class="control-label" for="meta_date"> 服务注册时间</label>
                      <div class="controls">
                        <input id="meta_date" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="step">
      <div class="form-horizontal">
        <div class="divider" style="margin-bottom: 20px;"></div>
        <div id="submit-ctx" class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input id="serviceitmes" type="checkbox">
              我已经阅读并同意 <a href="http://127.0.0.1:8080/exchange/static/centerexchange/dataupload/datauploadterm.html" id="skipClause" target="_blank">服务条款</a> </label>
            <div id="serviceitmes-alert" class="alert hide" style="width:230px;margin-bottom:0;"> <strong>警告!</strong> 您需要阅读并同意服务条款. </div>
          </div>
          <div class="controls">
            <button id="btn-reset" onclick= "formReset()" type="button">重 置 </button>
            <button id="register-btn"  type="button" onclick="register()"> 立即注册 </button>
          </div>
        </div>
      </div>
    </li>
    <li class="complete hide">
                            <div class="success-info">
                                <i class="icon-ok"></i>
                                &nbsp;恭喜，服务已注册成功！
                                <div class="divider"></div>
                            </div>
                            <div class="success-layer">
                                <br>该服务名称为【 <span id="service-name" style="color:#1e90f5"> </span>】<br>数据范围为【 <span id="service-extent" style="color:#1e90f5"> </span>】<br>
                                专题类型为【 <span id="service-theme" style="color:#1e90f5"> </span>】<br><span class="service-depttheme-div">部门专题为【 <span id="service-depttheme" style="color:#1e90f5"> </span>】<br></span>
                                请等待管理员审核。<br>
                                服务审核进度可在『服务管理』模块中查看。
                            </div>
                            <div class="control-group">
                                <div class="controls" style="width:300px;margin:0 auto;">
                                    <button id="return-btn" class="step-prev btn btn-primary f-mt15" type="button">继续注册
                                    </button>
                                    <button id="redirect-btn" class="step-next btn btn-primary f-ml50 f-mt15" type="button">服务管理
                                    </button>
                                </div>
                            </div>
    </li>
  </ul>
</div>
</form>
</body>
</html>
