<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/static/css/main.css"></link>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="container-fluid" id="title">
			<div class="navbar navbar-inverse navbar-fixed-top" id="navheader">
				<div class="container">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">
							<img src="./static/img/title.jpg" style="height:25px" alt="Brand"></img>
						</a>
					</div>
					<div class="navbar-collapse collapse" role="navigation">
						<ul class="nav navbar-nav">
							<li th:each="url,stat:${urls}"><a th:text="${url}" th:href="@{'/'+${url}}"></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户
									<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a th:text="|当前登录用户: ${user.username}|" href="#"></a></li>
									<li class="divider"></li>
									<li><a href="./logout">登出</a></li>
									<li><a href="#">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="pageheader">
		<div class="page-header">
			<h1>用户管理模块<small>科研开发室</small></h1>
		</div>
	</div>
	<div class="row" id="grouppanel">
		<div class="panel panel-default">
			<div class="panel-heading">
				所属分组
			</div>
			<div class="panel-body">
				<!-- <div class="row">  
					<div class="groupitem" th:each="group,groupstat:${groups}">
						<div class="thumbnail">
							<a th:href="@{'/group/'+${group.groupID}}">
								<img src="./static/img/scenery-2.png" alt=""></img>
							</a>
							<div class="caption">
								<h3 th:text="${group.groupName}"></h3>
							</div>
						</div>
					</div>
					<div class="groupitem">
						<div class="thumbnail">
							<img src="./static/img/scenery-1.png" alt=""></img>
							<div class="caption">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="adduser">增加分组</button>
				                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aira-labelledby="myModalLabel">
				                    <div class="modal-dialog" role="document">
				                        <div class="modal-content">
				                            <div class="modal-header">
				                                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
				                                    <span aria-hidden="true">&times;</span>
				                                </button>
				                                <h4 class="modal-header" id="myModalLabel">Add User</h4>
				                            </div>
				                            <div class="modal-body">
				                            	<div class="container-fluid">
				                            	    <form method="POST" th:action="@{/newgroup}" th:object="${newgroup}">
				                            	        <div class="form-group">
				                            	            <label for="groupname">分组名</label>
				                            	            <input type="text" th:field="*{groupName}" class="form-control" id="groupname"></input>
				                            	            <label for="desc">分组描述</label>
				                            	            <input type="text" th:field="*{describe}" class="form-control" id="desc"></input>
				                            	        </div>
				                            	        <button type="submit" class="btn btn-default">Submit</button>
				                            	    </form>
				                            	</div>
				                            </div>
				                            <div class="modal-footer"></div>
				                        </div>
				                    </div>
				                </div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
</body>
<footer>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</footer>
</html>