table.resulttable {
    width: 98%;
}

.resulttable th {
    width: 31px;
    text-align: left;
    vertical-align: top;
}

.resulttable th div {
    width: 19px;
    height: 29px;
    margin: 4px 0 0 7px;
    background: url(../../img/mks/markers.png) no-repeat;
}

.resulttable th div.markericon {
    cursor: pointer;
}

.resulttable th div#nored {
    background-position: -104px -119px;
}

.resulttable th div#no0 {
    background-position: 0 -198px;
}

.resulttable th div#no1 {
    background-position: -24px -198px;
}

.resulttable th div#no2 {
    background-position: -48px -198px;
}

.resulttable th div#no3 {
    background-position: -72px -198px;
}

.resulttable th div#no4 {
    background-position: -96px -198px;
}

.resulttable th div#no5 {
    background-position: -120px -198px;
}

.resulttable th div#no6 {
    background-position: -144px -198px;
}

.resulttable th div#no7 {
    background-position: -168px -198px;
}

.resulttable th div#no8 {
    background-position: -192px -198px;
}

.resulttable th div#no9 {
    background-position: -216px -198px;
}

.resulttable td {
    vertical-align: top;
    padding: 2px 0 3px 3px;
    font-size: 12px;
    line-height: 160%;
}

.resulttable .addrname {
    height: 26px;
    padding: 2px 2px;
    line-height: 26px;
    font-size: 13px;
}

.resulttable tr.focus, .resulttable div.focus {
    background: rgb(220, 236, 236);

}

.resulttable tr.focus-over, .resulttable div.focus-over {
    background: rgb(220, 236, 236);
    cursor: pointer;
}

.resulttable .focus-over #nored, .resulttable .focus #noblue {
    background-position: -104px -165px;
}

.resulttable .focus-over #no0, .resulttable .focus #no0 {
    background-position: 0 -230px;
}

.resulttable .focus-over #no1, .resulttable .focus #no1 {
    background-position: -24px -230px;
}

.resulttable .focus-over #no2, .resulttable .focus #no2 {
    background-position: -48px -230px;
}

.resulttable .focus-over #no3, .resulttable .focus #no3 {
    background-position: -72px -230px;
}

.resulttable .focus-over #no4, .resulttable .focus #no4 {
    background-position: -96px -230px;
}

.resulttable .focus-over #no5, .resulttable .focus #no5 {
    background-position: -120px -230px;
}

.resulttable .focus-over #no6, .resulttable .focus #no6 {
    background-position: -144px -230px;
}

.resulttable .focus-over #no7, .resulttable .focus #no7 {
    background-position: -168px -230px;
}

.resulttable .focus-over #no8, .resulttable .focus #no8 {
    background-position: -192px -230px;
}

.resulttable .focus-over #no9, .resulttable .focus #no9 {
    background-position: -216px -230px;
}

.resulttable .pic {
    border: 1px solid #3a31df;
    margin: 3px 5px 0 0;
    float: left;
}

.pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 4px 10px;
    line-height: 18px;
    text-decoration: none;
    background-color: rgb(242, 237, 245);
    border: 1px solid #ddd;
    border-left-width: 0;
}