@CHARSET "UTF-8";
.blackpointer{
	color:#333;
	cursor:pointer;
	text-decoration: underline; 
}
.status-div{
	width:530px;
	height:36px;
	line-height:36px;
	float:left;
	margin:0px 0px 0px 25%;
}
.status-total{
	z-index:109;
	position:relative;
	margin:-15px 0px 0px 0px;
	height:80px;
	width: 100%;
	min-width: 600px;
}
.home-ns .middle-container{
    position: relative;
    width:87%;
    min-width:1000px;
    height: 97%;
    padding:0;
    margin: 0 auto;
    border:0;
}